#DIV_1 {
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    height: 405.328px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 309.875px;
    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 154.938px 202.656px;
    transform-origin: 154.938px 202.656px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 15px / 22.5px Roboto, sans-serif;
    margin: 0px 0px 11.25px;
    outline: rgb(55, 58, 60) none 0px;
}/*#DIV_1*/

#IMG_2 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    display: block;
    height: 206.578px;
    vertical-align: middle;
    width: 309.875px;
    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 154.938px 103.281px;
    transform-origin: 154.938px 103.281px;
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 15px / 22.5px Roboto, sans-serif;
    outline: rgb(55, 58, 60) none 0px;
}/*#IMG_2*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    height: 198.75px;
    width: 309.875px;
    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 154.938px 99.375px;
    transform-origin: 154.938px 99.375px;
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 15px / 22.5px Roboto, sans-serif;
    outline: rgb(55, 58, 60) none 0px;
    padding: 18.75px;
}/*#DIV_3*/

#H4_4 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    height: 24px;
    width: 272.375px;
    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 136.188px 12px;
    transform-origin: 136.188px 12px;
    border: 0px none rgb(55, 58, 60);
    font: normal normal 300 normal 22.5px / 24.75px Roboto, sans-serif;
    margin: 0px 0px 11.25px;
    outline: rgb(55, 58, 60) none 0px;
}/*#H4_4*/

#P_5 {
    box-sizing: border-box;
    color: rgb(55, 58, 60);
    height: 66px;
    width: 272.375px;
    column-rule-color: rgb(55, 58, 60);
    perspective-origin: 136.188px 33px;
    transform-origin: 136.188px 33px;
    border: 0px none rgb(55, 58, 60);
    font: normal normal normal normal 15px / 22.5px Roboto, sans-serif;
    margin: 0px 0px 15px;
    outline: rgb(55, 58, 60) none 0px;
}/*#P_5*/

#A_6 {
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 33.25px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none;
    top: 0px;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 74.0938px;
    z-index: 1;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 37.0469px 16.625px;
    transform-origin: 37.0469px 16.625px;
    background: rgb(66, 133, 244) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px / 22.5px Roboto, sans-serif;
    margin: 6px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 5.625px 15px;
    transition: all 0.2s ease-out 0s;
}/*#A_6*/

