<div class="container">
    <div class="row">
        <h2>Buttons</h2>
        <hr>
        <div class="col-xs-12">

            <button type="button" class="btn btn-default">
                Default
            </button>
            <button type="button" class="btn btn-primary">
                Primary
            </button>
            <button type="button" class="btn btn-info">
                Info
            </button>
            <button type="button" class="btn btn-warning">
                Warning
            </button>
            <button type="button" class="btn btn-danger">
                Danger
            </button>
            <button type="button" class="btn btn-success">
                Success
            </button>

            <hr>
            <button type="button" class="btn outline-default">
                Default
            </button>
            <button type="button" class="btn outline-primary btn-primary">
                Primary
            </button>
            <button type="button" class="btn outline-info btn-info">
                Info
            </button>
            <button type="button" class="btn outline-warning btn-warning">
                Warning
            </button>
            <button type="button" class="btn outline-danger btn-danger">
                Danger
            </button>
            <button type="button" class="btn outline-success btn-success">
                Success
            </button>

            <hr>
            <button type="button" class="btn link-default btn-default">
                Primary
            </button>
            <button type="button" class="btn link-primary btn-primary">
                Primary
            </button>
            <button type="button" class="btn link-info btn-info">
                Info
            </button>
            <button type="button" class="btn link-warning btn-warning">
                Warning
            </button>
            <button type="button" class="btn link-danger btn-danger">
                Danger
            </button>
            <button type="button" class="btn link-success btn-success">
                Success
            </button>

        </div>
    </div>
</div>