<div class="container">
    <div class="row">
        <h2>Cards</h2>
        <hr>
        <div class="col-xs-12 col-md-4">
            <div class="card">

                <!--Card image-->
                <div class="card-image">
                    <img class="img-fluid" src="http://24.media.tumblr.com/tumblr_lnin5gPIkH1qc76t1o1_500.jpg"
                         alt="Card image cap">
                    <div class="img-overlay">
                        <a href="">
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                             Read more..
                        </a>
                    </div>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title"><a href="">Card title</a></h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>

                    <ul class="card-list">
                        <li>
                            <a href="">10 <i class="fa fa-heart" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a>15 <i class="fa fa-comment" aria-hidden="true"></i></a>

                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <!--/.Card content-->

            </div>
        </div>
        <div class="col-xs-4">
            <div class="card">

                <!--Card image-->
                <div class="card-image">
                <img class="img-fluid" src="http://24.media.tumblr.com/tumblr_lnin5gPIkH1qc76t1o1_500.jpg"
                     alt="Card image cap">
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Card title</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <a href="#" class="btn material-primary pull-right">Read</a>
                    <div class="clearfix"></div>
                </div>
                <!--/.Card content-->

            </div>
        </div>
        <div class="col-xs-6">

            <!--Card-->
            <div class="card testimonial-card">

                <!--Bacground color-->
                <div class="card-up default-color-dark">
                </div>

                <!--Avatar-->
                <div class="avatar"><img
                        src="https://www.tm-town.com/assets/default_female600x600-3702af30bd630e7b0fa62af75cd2e67c.png"
                        class="img-circle img-responsive">
                </div>

                <div class="card-block">
                    <!--Name-->
                    <h4 class="card-title text-center">Anna Doe</h4>
                    <hr>
                    <!--Quotation-->
                    <address>
                        <strong>Twitter, Inc.</strong><br>
                        1355 Market Street, Suite 900<br>
                        San Francisco, CA 94103<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>

                    <address>
                        <strong>Full Name</strong><br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </div>

            </div>
            <!--/.Card-->


        </div>
    </div>
</div>