
<!-- JS Libs-->
<script src="assets/components/jquery/dist/jquery.min.js"></script>
<script src="assets/components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="assets/components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="assets/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>


<!-- My scripts -->
<script src="assets/dist/scripts.min.js"></script>

<!-- Activate on production (after run gulp build), all js files on gulp-path[jsbuild] are concat and minify -->
<!--<script src="assets/dist/js-bundle.min.js"></script>-->

</body>

</html>