<script src="assets/components/jquery/dist/jquery.min.js"></script>
<script src="assets/components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>

<!-- Activate on production (after run gulp build), all js files on gulp-path[jsbuild] are concat and minify -->
<!--<script src="assets/dist/scripts.min.js"></script>-->


<script>
    $(window).scroll(function() {
        if($(this).scrollTop() < 400)  /*height in pixels when the navbar becomes non opaque*/
        {
            $('.navbar-fixed-top').addClass('navbar-transparent');
        } else {
            $('.navbar-fixed-top').removeClass('navbar-transparent');
        }
    });
</script>

</body>
</html>