{% extends "layout.html" %}

{% block content %}
<header>
{% include 'partials/home/navbar.html' %}
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <h3>Buttons</h3>
                <hr>
                <button type="button" class="btn btn-default">
                    Default
                </button>
                <button type="button" class="btn btn-primary">
                    Primary
                </button>
                <button type="button" class="btn btn-info">
                    Info
                </button>
                <button type="button" class="btn btn-warning">
                    Warning
                </button>
                <button type="button" class="btn btn-danger">
                    Danger
                </button>
                <button type="button" class="btn btn-success">
                    Success
                </button>

                <hr>
                <button type="button" class="btn btn-outline-default">
                    Default
                </button>
                <button type="button" class="btn btn-outline-primary btn-primary">
                    Primary
                </button>
                <button type="button" class="btn btn-outline-info">
                    Info
                </button>
                <button type="button" class="btn btn-outline-warning">
                    Warning
                </button>
                <button type="button" class="btn btn-outline-danger">
                    Danger
                </button>
                <button type="button" class="btn btn-outline-success">
                    Success
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}