{% extends "layout.html" %} {% block content %}
<div class="full-height gradient-blue-grey">
  <div class="container full-height">
    <div class="row center-xs middle-xs full-height">
      <div class="col-xs-12 text-center font-white">
        <h1 class="font-lato-light font-3x">{{title}}</h1>
        <hr>
        <a href="/docs" class="btn btn-lg outline-info pill">GITHUB</a>
        <a href="/docs" class="btn btn-lg outline-white pill">DOCS</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}