/*!======================================
COMPONENTS
======================================*/

/*======================================
  MISC
======================================*/
#main-wrapper {
  width: 100%;
  min-height: 80%;
  padding: 0;
  @include easeOutQuint(all, 0.7s);
}


/*======================================
NAVBAR
======================================*/
@import './components/navbars';

/*======================================
CARDS
======================================*/
@import './components/cards';

/*======================================
BUTTONS
======================================*/
@import './components/buttons';

/*======================================
PARALLAX
======================================*/
@import './components/parallax';

/*======================================
SPINNERS
======================================*/
@import './components/spinners';

/*======================================
ITEMS
======================================*/
@import './components/items';

/*======================================
LIST
======================================*/
@import './components/list-view';

/*======================================
CAROUSEL / SLIDER
======================================*/
@import './components/carousel';

/*======================================
DROPDOWN LIST
======================================*/
@import './components/dropdown';

/*======================================
PRICE TABLE
======================================*/
@import './components/price-table';

/*======================================
RIBBONS
======================================*/
@import './components/ribbons';



/*======================================
MODAL
======================================*/
.modal {
  z-index: 9999;
}
.modal-content {
  border-radius: 2px;
  .modal-header {
    background-color: $brand-success;
    color: #fff;
    h4 {
      line-height: 2.5rem;
    }
    .close {
      color: $gray;
      opacity: 1;
      text-shadow: none;
      font-size: 1.5rem;
      line-height: 2.5rem;
      &:hover {
        color: $gray-dark;
      }
    }
  }
}


/*======================================
GOOGLE MAPS
======================================*/

.google-maps {
  position: relative;
  padding-bottom: 400px; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 400px !important;
  }
}

/*======================================
PANELS
======================================*/

.panel {
  border-radius: 2px;
  .panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    i {
      padding-right: 10px;
    }
  }
}


/*======================================
LABEL
======================================*/

.label {
  font-size: inherit;
  padding: 2px 5px;
  border-radius: 2px;
  line-height: 1rem;
  vertical-align: middle;
  @extend %mt-shadow-1;
  &.label-small {
    font-size: 0.8rem;
  }
}
