/*!======================================
    GENERALS
======================================*/

// set font-size for use scale in "rem" 
html,
body {
  font-size: 14px;
  height: 100% !important;
}

@media (min-width: $screen-sm) {
  html,
  body {
    font-size: 16px;
  }
}

@media (min-width: $screen-lg) {
  html,
  body {
    font-size: 18px;
  }
}

// Overwrite Boostrap grid [for use flexboxgrid]
div[class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}

.row[class*='center-'], .row[class*='end-'] {
  text-align: left;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container,
.container-fluid {
  &.container-full {
    height: 100%;
    .row {
      height: 100%;
    }
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

footer {
  padding: 2.5rem 0;
  overflow: hidden;
}


hr {
  margin: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.1);
}

small {
  font-size: 0.85rem;
}

// list reset
menu,
ol,
ul {
  padding: 0;
}

ul.indent {
  padding: 0 30px;
}

// input button resets
input,
button {
  border: none;
  outline: none;
  box-shadow: none;
}

.btn:active,
.btn:active:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}
